
body {
background-color: #2507ab;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:0;
  margin:10px 0 10px 0;
}

h1 {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: blue;
  padding:0;
  margin-top:10px;
  margin:0;
}
h2 {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #957ff5;
  padding:0;
  margin:0;
}
h3 {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #ff3333;
}

.boton {
  background-color:#f5460c;
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}
.boton2 {
  background-color:#d272ed;
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}
.boton3 {
  background-color:#57f03c;
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

button {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

.box{
  
 background: rgb(7,33,252); 
 background: linear-gradient(104deg, rgba(7,33,252,1) 0%, rgba(253,29,29,1) 34%, rgba(255,248,0,1) 72%);
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #bfddf5;
  margin-top: 10px;
  padding:0;

}

.caja{
display: flex;
flex-direction: row;
align-items: flex-start;
background: red;
height:100%;
font-family:'Arial Narrow', Arial, sans-serif;
font-style: italic;
text-align: center;
color: #ff3333;
padding: 5px;
margin-left:150px;
position: absolute;
}

 footer {
 background: rgb(7,33,252); 
 background: linear-gradient(104deg, rgba(7,33,252,1) 0%, rgba(253,29,29,1) 34%, rgba(255,248,0,1) 72%);
 width: 100%;
 height: 80px;
 position: absolute; 
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  /* here is your hydra screenshot (for mobile) */
  /*background-image: url("https://i.ibb.co/HqDH62t/cartas.gif");*/
  background-size: cover;
}

#gatitxs {
  width: 100%;
  height: 100%;
  position: absolute;
}


