
body {
background-color: #2507ab;
}

h1 {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #ccffcc;
}
h2 {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #957ff5;
}
h3 {
  font-family:'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #ff3333;
}

button {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  /* here is your hydra screenshot (for mobile) */
  background-image: url("https://cdn.glitch.com/ce53ccc1-c5da-4f7f-a871-42eccf910bb6%2Fhydra-2020-9-6-14.51.53.png?v=1599396758507");
  background-size: cover;
}
